<div class="row">
<h1>Products</h1>
<button id="addNew" type="button" class="waves-dark" size="md" routerLink="/store"><mdb-icon icon="plus"></mdb-icon></button>
</div>

<!-- <div class="container">
  <div class="item" *ngFor="let post of posts">
    <h3 class="title">{{post.name}}</h3>
    <div class="item-body">
      {{post.description}}
    </div>
  </div>
</div>  -->

<div class="row" *ngFor="let post of posts">
  <div class="col-md-4">
    <mdb-card>

      <mdb-card-img src="https://www.nbc.com/sites/nbcunbc/files/files/images/2016/1/19/MDot-TheOffice-640x360-MP.jpg"
        alt="Card image cap"></mdb-card-img>

        <!-- <button id="edit" type="button" color="grey" class="waves-light" size="sm" routerLink="/store">
            <mdb-icon icon="edit"></mdb-icon>
          </button> -->

      <mdb-card-body>

        <mdb-card-title>
          <h4>{{post.name}}</h4>
        </mdb-card-title>
        <hr>

        <mdb-card-text> {{post.description}}
        </mdb-card-text>

        <button type="button" mdbBtn color="indigo" class="waves-light" mdbPopover=${{post.price}} placement="top"
          mdbPopoverHeader="{{post.genre}}" block="true" size="sm" triggers="focus" mdbWavesEffect>More Details
        </button>
        <button mdbBtn color="yellow" class="waves-light" block="true" (click)="addToCart()" mdbWavesEffect>
          <mdb-icon icon="cart-plus"></mdb-icon>
        </button>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>