<div class="row top">
  <div class="col-md-4 Conner">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://lh3.googleusercontent.com/Zwnf4nEOZ1QA8VFshCje6NVAimLihTqqgqjue5WqkzFWbPm492KOpPKp9NojcETH2d92OrBPP6MbSzHjOBHlYp6AuBtlE6FSK_z51L4Y5laWG5YUcBUcx6K0Ypy8kfXMvUpfDcPzMOKrQZ9kxOSlX6cQHOlXudWojhyCz7Hvi6Tn9qFEzKaBRQJosmcAs4x76QBYaDBtpFbhD0xzADxtecgpQJ5DbjiQ8eZqUT9p9Ee0m1Sfnpy6pcFF-j7crCjdayy-VVn_s6wjYa8cDnInmI8YHXZ0a41R3g_Q8HcFy04DjgO39vHLrbyGOgQdb0AkO4a_Z3dSi7TYpr9dnv-RZDXmp5a7jzE2R4tvtBi4W-fSTITQJuBDDziMqPL5G0O0SNheETbwRmtdEV5t9IPryqW1gxiimPhvceYZVaRIKu02Zu6Ul61TzVnExAIPViAvNFJEf7YL47a5HJrOrQB2Gzmd4C2Bg9ynydXsyKW9QCvqjzHILgwyHEq-qcvvx3zSgO8np7v24tKlWlUs_D1mISTkbvX7rIbaCRRRmptL_EyZov0Qpq83F7FlAWd7ny9TThaiHB6Mup2NdT_ul72sA6VRmEz5TVNSbJI-I0h3S9Ja-G28bLeugNeZLhCG0-TeXtKf2QSyYVSGEyGRz2eND2H6sw=w592-h789-no">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Conner Donohoo</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.
        </mdb-card-text>

        <div class="icons">
          <!--Facebook-->
          <a href="" target="_blank">
            <mdb-icon icon="facebook-official"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a href="https://www.linkedin.com/in/conner-donohoo/" target="_blank">
            <mdb-icon icon="linkedin-square"></mdb-icon>
          </a>
          <!--GitHub-->
          <a href="https://github.com/Donohoo13" target="_blank">
            <mdb-icon icon="github"></mdb-icon>
          </a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-md-4 Paul">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img class="paulImg" src="https://i.imgur.com/UzkdaBM.jpg">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Paul Barrett</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.
        </mdb-card-text>

        <div class="icons">
          <!--Facebook-->
          <a href="" target="_blank">
            <mdb-icon icon="facebook-official"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a href="https://www.linkedin.com/in/paul-barrett-92b436170/" target="_blank">
            <mdb-icon icon="linkedin-square"></mdb-icon>
          </a>
          <!--GitHub-->
          <a href="https://github.com/dinandriah" target="_blank">
            <mdb-icon icon="github"></mdb-icon>
          </a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>
<div></div>
<div class="row bottom">
  <div class="col-md-4 Karlee">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://heliotrainingllc.sharepoint.com/sites/CoursesDraperImmersiveDRI0918/Shared%20Documents/Team%20This/fullsizeoutput_14ad.jpeg">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Karlee Wright</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.
        </mdb-card-text>

        <div class="icons">
          <!--Facebook-->
          <a href="" target="_blank">
            <mdb-icon icon="facebook-official" target="_blank"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a href="https://www.linkedin.com/in/karleerheawright/" target="_blank">
            <mdb-icon icon="linkedin-square"></mdb-icon>
          </a>
          <!--GitHub-->
          <a href="https://github.com/karleewright" target="_blank">
            <mdb-icon icon="github"></mdb-icon>
          </a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-md-4 Nicole">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Nicole Kissell</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.
        </mdb-card-text>

        <div class="icons">
          <!--Facebook-->
          <a href="" target="_blank">
            <mdb-icon icon="facebook-official"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a href="https://www.linkedin.com/in/nicole-kissell-639555a3/" target="_blank">
            <mdb-icon icon="linkedin-square"></mdb-icon>
          </a>
          <!--GitHub-->
          <a href="https://github.com/ColeKissell" target="_blank">
            <mdb-icon icon="github"></mdb-icon>
          </a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>