<div class="row top">
  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://lh3.googleusercontent.com/EqUCFHqswc4JIUvVgdHAO7P2R8jB8TB1LsI1L4ApUXXoaYN_KNkVwZ6n8bf1bFjNKBm9PjkM_iaW4Yzqm9lEmWt6LYAT6tsgiHM7WNv-0Y0FL-EU4jzMKHWvIXFfHF8do_Kop7_4XLzRiz34ZaVRSRUaokqGQClgnVrIU-3UQJOJPKD0dRR61pYxw5bzD5LlPvgPvSWjpQL6SRcpTVniPfTBT4QaiWw0vKjMNKx4ED8xK4SJxZvZSlf5cBfg0EtC1Ma4JvqkIvRGu6EbWNqcc_RdwI9T5kwIO6NVKQwkK_hdFFK5wfMRMxtEo1MhFFYfo0kPcbmNO62fo-5vN6oFwdXIPDCx80bizxZYW_g6B3EVTQuBn60bupgMWPnP4V_7gO1C5RJOwh4KsQt9_t3NKbuI_E7BG_0vZ_ZeP5h97MMlbtZi5ZO-6rISre_qcC-jIoRjanSLnoOds_xOLHsFIQXr-YQKv4fhqT48OAEIiSlTBmnTcYxjA_bVyI073asKYry6tmIXQoYVvl0A1EVC7uSuAVKtuEBuY2y6Bo-q9babvCp4oaB5rHIIGr6qU-MDfMagyan1K45h6xY-X2VmDAx7wruMqUcnU4wdX4mKO1gjiZoQKqd471DrnrzVzDzG=w1052-h789-no">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Conner Donohoo</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.
        </mdb-card-text>

        <div class="icons">
          <!--Facebook-->
          <a href="" target="_blank">
            <mdb-icon icon="facebook-official"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a href="https://www.linkedin.com/in/conner-donohoo/" target="_blank">
            <mdb-icon icon="linkedin-square"></mdb-icon>
          </a>
          <!--GitHub-->
          <a href="https://github.com/Donohoo13" target="_blank">
            <mdb-icon icon="github"></mdb-icon>
          </a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://lh3.googleusercontent.com/EqUCFHqswc4JIUvVgdHAO7P2R8jB8TB1LsI1L4ApUXXoaYN_KNkVwZ6n8bf1bFjNKBm9PjkM_iaW4Yzqm9lEmWt6LYAT6tsgiHM7WNv-0Y0FL-EU4jzMKHWvIXFfHF8do_Kop7_4XLzRiz34ZaVRSRUaokqGQClgnVrIU-3UQJOJPKD0dRR61pYxw5bzD5LlPvgPvSWjpQL6SRcpTVniPfTBT4QaiWw0vKjMNKx4ED8xK4SJxZvZSlf5cBfg0EtC1Ma4JvqkIvRGu6EbWNqcc_RdwI9T5kwIO6NVKQwkK_hdFFK5wfMRMxtEo1MhFFYfo0kPcbmNO62fo-5vN6oFwdXIPDCx80bizxZYW_g6B3EVTQuBn60bupgMWPnP4V_7gO1C5RJOwh4KsQt9_t3NKbuI_E7BG_0vZ_ZeP5h97MMlbtZi5ZO-6rISre_qcC-jIoRjanSLnoOds_xOLHsFIQXr-YQKv4fhqT48OAEIiSlTBmnTcYxjA_bVyI073asKYry6tmIXQoYVvl0A1EVC7uSuAVKtuEBuY2y6Bo-q9babvCp4oaB5rHIIGr6qU-MDfMagyan1K45h6xY-X2VmDAx7wruMqUcnU4wdX4mKO1gjiZoQKqd471DrnrzVzDzG=w1052-h789-no">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Conner Donohoo</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.
        </mdb-card-text>

        <div class="icons">
          <!--Facebook-->
          <a href="" target="_blank">
            <mdb-icon icon="facebook-official" target="_blank"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a href="">
            <mdb-icon icon="linkedin-square" target="_blank"></mdb-icon>
          </a>
          <!--GitHub-->
          <a href="">
            <mdb-icon icon="github" target="_blank"></mdb-icon>
          </a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>
<div></div>
<div class="row bottom">
  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://lh3.googleusercontent.com/EqUCFHqswc4JIUvVgdHAO7P2R8jB8TB1LsI1L4ApUXXoaYN_KNkVwZ6n8bf1bFjNKBm9PjkM_iaW4Yzqm9lEmWt6LYAT6tsgiHM7WNv-0Y0FL-EU4jzMKHWvIXFfHF8do_Kop7_4XLzRiz34ZaVRSRUaokqGQClgnVrIU-3UQJOJPKD0dRR61pYxw5bzD5LlPvgPvSWjpQL6SRcpTVniPfTBT4QaiWw0vKjMNKx4ED8xK4SJxZvZSlf5cBfg0EtC1Ma4JvqkIvRGu6EbWNqcc_RdwI9T5kwIO6NVKQwkK_hdFFK5wfMRMxtEo1MhFFYfo0kPcbmNO62fo-5vN6oFwdXIPDCx80bizxZYW_g6B3EVTQuBn60bupgMWPnP4V_7gO1C5RJOwh4KsQt9_t3NKbuI_E7BG_0vZ_ZeP5h97MMlbtZi5ZO-6rISre_qcC-jIoRjanSLnoOds_xOLHsFIQXr-YQKv4fhqT48OAEIiSlTBmnTcYxjA_bVyI073asKYry6tmIXQoYVvl0A1EVC7uSuAVKtuEBuY2y6Bo-q9babvCp4oaB5rHIIGr6qU-MDfMagyan1K45h6xY-X2VmDAx7wruMqUcnU4wdX4mKO1gjiZoQKqd471DrnrzVzDzG=w1052-h789-no">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Conner Donohoo</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.
        </mdb-card-text>

        <div class="icons">
          <!--Facebook-->
          <a href="" target="_blank">
            <mdb-icon icon="facebook-official" target="_blank"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a href="">
            <mdb-icon icon="linkedin-square" target="_blank"></mdb-icon>
          </a>
          <!--GitHub-->
          <a href="">
            <mdb-icon icon="github" target="_blank"></mdb-icon>
          </a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://lh3.googleusercontent.com/EqUCFHqswc4JIUvVgdHAO7P2R8jB8TB1LsI1L4ApUXXoaYN_KNkVwZ6n8bf1bFjNKBm9PjkM_iaW4Yzqm9lEmWt6LYAT6tsgiHM7WNv-0Y0FL-EU4jzMKHWvIXFfHF8do_Kop7_4XLzRiz34ZaVRSRUaokqGQClgnVrIU-3UQJOJPKD0dRR61pYxw5bzD5LlPvgPvSWjpQL6SRcpTVniPfTBT4QaiWw0vKjMNKx4ED8xK4SJxZvZSlf5cBfg0EtC1Ma4JvqkIvRGu6EbWNqcc_RdwI9T5kwIO6NVKQwkK_hdFFK5wfMRMxtEo1MhFFYfo0kPcbmNO62fo-5vN6oFwdXIPDCx80bizxZYW_g6B3EVTQuBn60bupgMWPnP4V_7gO1C5RJOwh4KsQt9_t3NKbuI_E7BG_0vZ_ZeP5h97MMlbtZi5ZO-6rISre_qcC-jIoRjanSLnoOds_xOLHsFIQXr-YQKv4fhqT48OAEIiSlTBmnTcYxjA_bVyI073asKYry6tmIXQoYVvl0A1EVC7uSuAVKtuEBuY2y6Bo-q9babvCp4oaB5rHIIGr6qU-MDfMagyan1K45h6xY-X2VmDAx7wruMqUcnU4wdX4mKO1gjiZoQKqd471DrnrzVzDzG=w1052-h789-no">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Conner Donohoo</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.
        </mdb-card-text>

        <div class="icons">
          <!--Facebook-->
          <a href="" target="_blank">
            <mdb-icon icon="facebook-official" target="_blank"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a href="">
            <mdb-icon icon="linkedin-square"></mdb-icon>
          </a>
          <!--GitHub-->
          <a href="" target="_blank">
            <mdb-icon icon="github"></mdb-icon>
          </a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>